
@import "tailwindcss";


@font-face {
    font-family: 'Inter';
    src: url('/src/assets/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf')
    format('ttf');
}


@theme {
    --color-preto: #1B1B1C;
    
    --color-cinza-100: 	#f9fafb;
    --color-cinza-200: #f0f2f5;
    --color-cinza-300: #C2C6CC;
    --color-cinza-400: #8B8B8B;
}

* {
    font-family: 'Inter';
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
