<div class="flex flex-row justify-between items-center pt-5 lg:py-10 lg:px-6 px-0
lg:text-base text-sm">
    <div>
        <p class="text-sm">Showing: <b>07</b> of 150</p>
    </div>
    <nav>
        <ul class="flex items-center -space-x-px h-8 text-sm">
            <li>
                <a href="#" class="flex items-center justify-center h-8 px-1 text-gray-500 bg-white border border-e-0 border-white rounded-s-lg hover:bg-cinza-100
                focus:bg-cinza-100">
                  <span class="material-symbols-outlined text-cinza-300">
                    chevron_left
                    </span>
                </a>
              </li>
              <li>
                <a href="#" class="flex items-center justify-center h-8 px-3 text-gray-500 bg-cinza-100 border border-e-0 border-white hover:bg-cinza-100 hover:text-gray-700
                focus:bg-cinza-100">1</a>
              </li>
              <li>
                <a href="#" class="flex items-center justify-center h-8 px-3 text-gray-500 bg-white border border-e-0 border-white hover:bg-cinza-100 hover:text-gray-700
                focus:bg-cinza-100">2</a>
              </li>
              <li>
                <a href="#" class="flex items-center justify-center h-8 px-3 text-gray-500 bg-white border border-e-0 border-white hover:bg-cinza-100 hover:text-gray-700
                focus:bg-cinza-100">3</a>
              </li>
            <li>
                <a href="#" class="flex items-center justify-center h-8 px-1 text-gray-500 bg-white border border-e-0 border-white rounded-r-lg hover:bg-cinza-100 hover:text-gray-700
                focus:bg-cinza-100">
                  <span class="material-symbols-outlined text-cinza-300">
                    chevron_right
                    </span>
                </a>
              </li>
              
        </ul>
    </nav>
</div>
