<div class="w-full overflow-x-auto lg:text-base text-sm">
    <table class="table-auto w-full min-w-max">
        <thead>
            <tr class="bg-cinza-200 text-preto">
                <th class="px-4 py-2 font-medium">Place</th>
                <th class="px-4 py-2 font-medium">State</th>
                <th class="px-4 py-2 font-medium">Created at</th>
                <th class="px-4 py-2 font-medium">Last update</th>
                <th class="px-4 py-2 font-medium">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-t border-b border-cinza-200 text-preto text-center hover:bg-cinza-100 transition-colors duration-300" *ngFor="let item of items">
                <td class="px-4 py-2">{{ item.place }}</td>
                <td class="px-4 py-2">{{ item.state }}</td>
                <td class="px-4 py-2">{{ item.created }}</td>
                <td class="px-4 py-2">{{ item.updated }}</td>
                <td class="px-5 py-2 w-1 whitespace-nowrap">
                    <div class="flex gap-6">
                        <button (click)="openEditModal()"
                        class="focus:bg-sky-400 focus:text-white
                        hover:scale-105 transition duration-300 ease-in-out hover:text-sky-400
                        text-cinza-300 bg-white p-1 w-auto flex items-center shadow-md justify-center border border-cinza-200 rounded-sm">
                            <span class="material-symbols-outlined">
                                edit
                                </span>
                        </button>
                        <button (click)="openDeleteModal()" class="focus:bg-sky-400 focus:text-white
                        hover:scale-105 transition duration-300 ease-in-out hover:text-sky-400
                        text-cinza-300 bg-white p-1 w-auto flex items-center shadow-md justify-center border border-cinza-200 rounded-sm">
                            <span class="material-symbols-outlined">
                                delete
                                </span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-edit-modal [isOpen]="isEditModalOpen" (close)="closeEditModal()"></app-edit-modal>
<app-delete-modal [isOpen]="isDeleteModalOpen" (close)="closeDeleteModal()"></app-delete-modal>
