<form class="lg:text-base text-sm">
    <div class="relative hover:scale-102 transition-transform duration-200">
        <input type="search" name="" id="search" placeholder="Search here..."
            class="border border-cinza-200 px-2 py-1 rounded-md focus:outline-sky-400 focus:outline-offset-4 peer">
        <div class="absolute inset-y-0 right-2 flex 
        items-center lg:pl-2 lg:pb-3 lg:pt-4 lg:pr-0 
        peer-focus:text-sky-400  text-cinza-300 bg-transparent lg:bg-white">
            <span class="material-icons text-[10px] sm:bg-red-500">
                search
            </span>
        </div>
    </div>
</form>
